<div class="container container-form">
<%= simple_form_for(@ad) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="mb-3 string required ad_brand">
      <label class="form-label string required" for="ad_title">Title <abbr title="required">*</abbr></label>
      <%= f.input_field :title, class: 'form-control string required' %>
    </div>

    <%= f.input :brand %>
    <%= f.input :number_of_plug %>
    <%= f.input :color %>
    <%= f.input :cable_length %>
    <div class="mb-3 string required ad_brand">
      <label class="form-label string required" for="ad_location">Location <abbr title="required">*</abbr></label>
      <%= f.input_field :location, class: 'form-control string required' %>
    </div>
    <%= f.input :usb %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
