<p id="notice"><%= notice %></p>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1530545233050-3f0a5d0dd1ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1826&q=80);">
  <div class="container">
    <h1>Plug Ads</h1>
    <p>Rent your plug !</p>
    <a class="btn btn-flat"<%= link_to 'Nouvelle annonce', new_ad_path, class:"text-decoration-none" %></a>
  </div>
</div>

<div class="container mt-4">
  <div class="grid">
      <% @ads.each do |ad| %>
      <div class="card">
      <div class="item">
         <a> <%= link_to ad, class:"text-decoration-none" do %> </a>

             <%= cl_image_tag ad.photo.key, height: 300, width: 400, crop: :fill %>
             <div class="item__overlay">
              <div class="title-container">
                <h3 id="title" aria-hidden="true"><%= ad.title %></h3>
                <div class="stars">
                  <%= render "shared/rate", average: @average %>
                </div>
              </div>
              <div class="item__body">
                  <div class="user_info">
                  <div><img class="card_user_pic" src="https://i.imgur.com/7D7I6dI.png" alt="" /></div>
                  <div><span class="card__user"><%= ad.user.first_name %></span></div>
                  </div>
                <ul>
                  <li>Description : <%= ad.description %></li>
                  <li>Numbre de prises: <%= ad.number_of_plug %></li>
                  <li>Couleur : <%= ad.color %></li>
                  <li>Longueur de cable (cm) : <%= ad.cable_length %></li>
                  <li>Localisation : <%= ad.location %></li>
                  <li>Usb : <%= ad.usb ? "Oui" : "Non" %></li>
                </ul>
              </div>
            </div>
          <% end %>
      </div>
      <% if current_user == ad.user%>
              <div class= bouton>
                    <div>
                    <a <%= link_to 'Modifier', edit_ad_path(ad), class:"text-decoration-none"%>
                      <span class="line -right"></span>
                      <span class="line -top"></span>
                      <span class="line -left"></span>
                      <span class="line -bottom"></span>
                    </a>
                    </div>
                    <div>
                    <a <%= link_to 'Supprimer', ad, class:"text-decoration-none", method: :delete, data: { confirm: 'Are you sure?' } %>
                      <span class="line -right"></span>
                      <span class="line -top"></span>
                      <span class="line -left"></span>
                      <span class="line -bottom"></span>
                    </a>
                    </div>
              </div>
              <% end%>
      </div>
      <% end %>
  </div>
</div>
