<div class="container">
  <div class="card-product">
    <%= cl_image_tag @ad.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-product-infos"  style="width: 1000px; margin: 0 auto;">
      <h3><%= @ad.title %></h3>
      <div class="stars">
        <%= render "shared/rate", average: @average %>
      </div>
      <p></p>
      <div class="user_info">
          <img id="pic"src="https://i.imgur.com/7D7I6dI.png" alt="" />
          <div><span class="card__user">Annonce postée par</span>
          <strong> <%= @ad.user.first_name  %> </strong></div>
        </div>
        <div>
          <p>Prix : <%= @ad.price%></p>
          <p>Description : <%= @ad.description %></p>
          <p>Nombre de prises: <%= @ad.number_of_plug %></p>
          <p>Couleur : <%= @ad.color %></p>
          <p>Longueur de cable (cm) : <%= @ad.cable_length %></p>
          <p>Lieu : <%= @ad.location %></p>
          <p>Usb : <%= @ad.usb ? "Oui" : "Non" %></p>
        </div>
    </div>
  </div>
  <br>
  <div class="calendar" >
    <div class="form-wrapper" style="width: 1000px; margin: 0 auto;">
      <h3> Effectuer une réservation </h3>
      <%= simple_form_for [@ad, @rental] do |f| %>
            <%= f.input :start_date, label:'Début de la location', as: :string, required: false, input_html: {id: "range_start"} %>
            <%= f.input :end_date, label: 'Fin de la location', as: :string, required: false, input_html: {id: "range_end"} %>
            <%= f.button :submit, "Go", class: "btn btn-primary" %>
          <% end %>
    <br>
    <% if current_user == @ad.user %>
    <%= link_to 'Edit', edit_ad_path(@ad), class: "btn btn-primary"%>
    <% end %>

  </div>

  </div>

</div>
