<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title</strong>
    <%= @ad.title %>
  </p>

  <p>
    <strong>Description :</strong>
    <%= @ad.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @ad.color %>
  </p>

  <p>
    <strong>Cable Lenght:</strong>
    <%= @ad.cable_length %>
  </p>

  <p>
    <strong>Brand</strong>
    <%= @ad.brand %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @ad.location %>
  </p>

  <p>
    <strong>Usb:</strong>
    <%= @ad.usb %>
  </p>


  <%= link_to 'Edit', edit_ad_path(@ad) %> |
  <%= link_to 'Back', ads_path %>
  <div>
  <%= simple_form_for [@ad, @rental] do |f| %>
        <%= f.input :start_date, label:'Début de la location', as: :string, required: false, input_html: {id: "range_start"} %>
        <%= f.input :end_date, label: 'Fin de la location', as: :string, required: false, input_html: {id: "range_end"} %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
