<div class="title-profil mb-4">
  <h2><strong>Bonjour, je m'appelle <%= @user.first_name%></strong></h2>
</div>

<div class="container-profil">

  <div class="profil-info">
    <div class="picture">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, height: 1500, width: 1600, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% else %>
      <%= image_tag "https://eu.ui-avatars.com/api/?name=#{current_user.first_name}+#{current_user.last_name}", height: 300, width: 400, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
    </div>
    <div class="certif-comm">
      <div class="comm">
        <i class="fa-solid fa-star"></i>
        <p>Commentaires</p>
      </div>

      <div class="certif">
        <i class="fa-solid fa-check"></i>
        <p>Identité certifiée</p>
      </div>
    </div>

    <div class="info-user m-2 mt-4">
    <h4><%= @user.first_name %>: identification verifiée </h4><br>
      <div class="certifs">
        <i class="fa-solid fa-check"></i>
        <p>Identité</p>
      </div>
      <div class="certifs">
        <i class="fa-solid fa-check"></i>
        <p>Adresse e-mail</p>
      </div>
      <div class="certifs">
        <i class="fa-solid fa-check"></i>
        <p>Numéro de téléphone</p>
      </div>
    </div>

    <div class="en-savoir-plus m-4">
      <p><strong>En savoir plus</strong> sur la manière dont la confirmation des informations des comptes contribue à garantir la sécurité de la communauté Rent A Plug.</p>
    </div>
  </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :photo, as: :file %>
    <%= f.input :password,
                hint: "Laissez blanc si vous ne changez pas",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "rentrez votre mot de passe pour confirmer",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <div class="button-update">
      <%= f.button :submit, "Mettre à jour", id:"update-btn"%>
    </div>
  <% end %>

  <div class="card-cancel m-2">
    <div class="cancel-info">
      <p>Vous n'êtes plus actif ?</p>
    </div>
    <div class="cancel-link">
     <p><%= link_to "Supprimer votre compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "text-decoration-none"%></p>
    </div>
  </div>
  </div>


</div>
