<div class="review">
  <h2>Laissez une évaluation</h2>
  <%= simple_form_for [ad, rating] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rate, as: :hidden, input_html: {  id: "review_rating" }  %>
    <div class="my-3">
      <% [1, 2, 3, 4, 5].each do |index| %>
        <i id="<%= index %>" class="review-rating far fa-star"></i>
      <% end %>
    </div>
    <%= f.submit class: "btn btn-primary", value: "Valider" %>
  <% end %>
</div>